DIRECT_URL="postgresql://neondb_owner:*********<region>/neondb?<options>"
SUPABASE_URL="https://<project-ref>.supabase.co"
SUPABASE_API_KEY="api_key_here"
SUPABASE_BUCKET="bucket_name"
JWT_SECRET_KEY="your_secret_key"
REDIS_URL="eg.redis://localhost:6379"
KAFKA_HOST="<host_url>"
KAFKA_USERNAME="<kafka_username>"
KAFKA_PASSWORD="<password>"
KAFKA_CLIENT_ID="<test-id>"
KAFKA_PORT="eg.9092"
ACCESS_TOKEN_EXPIRY="<expiry_time>"
REFRESH_TOKEN_EXPIRY="<expiry_time>"
CORS_ORIGIN="eg.http://localhost:5173"
APP_URL="eg.http://localhost:5173"
RESEND_API_KEY = "api_key_here"
ORG_EMAIL = 'org_email'